In [3]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Display settings
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)
df = pd.read_csv(r"C:\Users\aishw\OneDrive\Documents\Python Proj\Amazon-sales-Analysis\data\Amazon Sale Report.csv")

# Show first 5 rows
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128976 entries, 0 to 128975
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128976 non-null  int64
 1   Order ID            128976 non-null  object
 2   Date                128976 non-null  object
 3   Status              128976 non-null  object
 4   Fulfilment          128976 non-null  object
 5   Sales Channel       128976 non-null  object
 6   ship-service-level  128976 non-null  object
 7   Category            128976 non-null  object
 8   Size                128976 non-null  object
 9   Courier Status      128976 non-null  object
 10  Qty                 128976 non-null  int64
 11  currency            121176 non-null  object
 12  Amount              121176 non-null  float64
 13  ship-city           128941 non-null  object
 14  ship-state          128941 non-null  object
 15  ship-postal-code    128941 non-null  float64
 16  ship-country        128941 non-null  object
 17  B2B                 128976 non-null  bool
 18  fulfilled-by        39263 non-null   object
 19  New                 0 non-null       float64
 20  PendingS            0 non-null       float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 19.8+ MB

,index,Qty,Amount,ship-postal-code,New,PendingS
count,128976.000000,128976.000000,121176.000000,128941.000000,0.0,0.0
mean,64486.130427,0.904401,648.562176,463945.677744,NaN,NaN
std,37232.897832,0.313368,281.185041,191458.488954,NaN,NaN
min,0.000000,0.000000,0.000000,110001.000000,NaN,NaN
25%,32242.750000,1.000000,449.000000,382421.000000,NaN,NaN
50%,64486.500000,1.000000,605.000000,500033.000000,NaN,NaN
75%,96730.250000,1.000000,788.000000,600024.000000,NaN,NaN
max,128974.000000,15.000000,5584.000000,989898.000000,NaN,NaN

In [4]:
# ðŸ”¹ 1. Drop useless columns (ignore if already missing)
df = df.drop(columns=["index", "New", "PendingS"], errors="ignore")

# ðŸ”¹ 2. Convert 'Date' to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=True)

# ðŸ”¹ 3. Convert postal code to string safely
if 'ship-postal-code' in df.columns:
    df['ship-postal-code'] = df['ship-postal-code'].astype(str)
    df['ship-postal-code'] = df['ship-postal-code'].replace("nan", pd.NA)

# ðŸ”¹ 4. Handle missing values
if 'currency' in df.columns:
    df['currency'] = df['currency'].fillna("INR")

if 'Amount' in df.columns:
    df['Amount'] = df['Amount'].fillna(0)

# ðŸ”¹ 5. Drop duplicates
df = df.drop_duplicates()

# ðŸ”¹ 6. Print summary
print("âœ… Dataset cleaned successfully!\n")
print("Shape:", df.shape)
print("\nMissing values:\n", df.isnull().sum())
print("\nData Types:\n", df.dtypes)

C:\Users\aishw\AppData\Local\Temp\ipykernel_14124\212407599.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce', dayfirst=True)

âœ… Dataset cleaned successfully!

Shape: (128017, 18)

Missing values:
 Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                32
ship-state               32
ship-postal-code         32
ship-country             32
B2B                       0
fulfilled-by          89085
dtype: int64

Data Types:
 Order ID                      object
Date                  datetime64[ns]
Status                        object
Fulfilment                    object
Sales Channel                 object
ship-service-level            object
Category                      object
Size                          object
Courier Status                object
Qty                            int64
currency                      object
Amount                       float64
ship-city                     object
ship-state                    object
ship-postal-code              object
ship-country                  object
B2B                             bool
fulfilled-by                  object
dtype: object